body {
  margin-left: 20%;
  font-family: 'Open Sans', sans-serif;
}

.tab-container {
  display: flex;
}

.tab {
  width: 20%;
  text-align: center;
  background-color: #D1D2D3;
  border-bottom: 1px solid black;
}

.tab-1 {
  background-color: #F2F2F2;
  font-weight: 600;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 0;
}

.main-container {
  width: 80%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

h4 {
  margin: 0;
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D1D2D3;
  margin-right: 20px;
}

.paragraph-1, .paragraph-2 {
  padding: 20px;
  margin: 0px;
}
